@model IEnumerable<ManeskinDomain.Model.Tour>

@{
    ViewData["Title"] = "Tours";
}

<h1>All maneskin tours</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Begin
            </th>
            <th>
                End
            </th>
            <th>
                Tour name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameTour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TourId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TourId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TourId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
