@model IEnumerable<ManeskinDomain.Model.Perfomance>

@{
    ViewData["Title"] = "Perfomances which took place in this city";
}

<h1>Perfomances which took place in @ViewBag.City</h1>

<p>
    @Html.ActionLink("Add new gig", "Create", new { locationId = ViewBag.LocationId, tourId = ViewBag.TourId })
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Information
            </th>
            
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerfomanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerfomanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerfomanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
